.welcome
{
  width: 35%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  opacity:0.95;
  filter:alpha(opacity=87); /* For IE8 and earlier */
  border: 2px solid;
  border-radius: 25px;
  font-size: 100%;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  margin-top: 9.3%;
}