#welcome
{
  width: 35%;
  height: auto;
  margin: 0 auto;
  background-color: #E8E8E8;
  opacity:0.90;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  border: 2px solid;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  margin-top: 9.3%;
}
#login
{
  width: 62%;
  height: auto;
  margin: 0 auto;
  background-color: #202020;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  border: 2px solid;
  border-radius: 25px;
}
h3
{
  color: white;
  text-decoration: underline;
}
hr
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 7px;
  border-color: green;
}
label.login
{
  color: white;
}