#welcome
{
  width: 35%;
  min-width: 250px;
  height: auto;
  margin: 60px auto;
  padding-top: 5px;
  background-color: #ECF0F1;
  filter:alpha(opacity=75);
  border-radius: 25px;
  font-family: "Open Sans", Arial, serif;
  text-align: center;
}
.authCard
{
  background-color: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #BDC3C7;
  margin: 0 auto 15px auto;
  width: 60%;
}
#logo
{
  width: auto;
  min-width: 250px;
}

h1.welcome
{
  font-weight: bold;
  text-shadow:
          -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px  1px 0 #fff,
          1px  1px 0 #fff;
  color: #2ECC71;
  font-size: 5em;
  margin: 0 0 0 0;
}
h2.welcome
{
  margin: 0 0 20px 0;
}
h3
{
  color: #2C3E50;
}

label.login
{
  color: #2C3E50;;
}
.welcomeInputText
{
  width: 90%;

}
.welcomeInputText:focus
{
  outline: none !important;
  border:1px solid #27AE60;
  box-shadow: 0 0 10px #27AE60;
}

.remember:focus
{
  outline: none !important;
  border:1px solid #27AE60;
  box-shadow: 0 0 10px #27AE60;
}

.welcomeLink
{
  color: black;
}
/* visited link */
.welcomeLink:visited {
  color: black;

}
/* mouse over link */
.welcomeLink:hover {
  color: #27AE60;
}

/* selected link */
.welcomeLink:active {
  color: #27AE60;

}

p.login
{
  color: #27AE60;
}

p.verification
{
  color: #FFFFFF;
}

#tour
{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #ECF0F1;
  opacity:0.95;
  filter:alpha(opacity=90);
  border-radius: 25px;
  min-width: 332px;
}

#tourImage
{
  border-radius: 25px;
}

.topBar
{
  border-radius: 4px;
  color: #ECF0F1;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 53px;
  background-color: #27AE60;
}

//Media Queries

//Desktop

@media screen and (min-width: 1501px) and (min-height: 850px)
{
  #welcome
  {
    width: 35%;
    min-width: 350px;
  }

}

  //Small Desktop
@media screen and (min-width: 801px) and (max-width: 1500px) and (max-height: 1400px) {
  #welcome {
    width: 40%;
    min-width: 350px;
  }

}

//Tablet Portrait
  @media screen and (max-width: 800px) and (min-height: 600px) {
    #welcome {
      width: 75%;
      min-width: 250px;
    }
    .authCard
    {
      width: 75%;
    }

  }

  //Tablet Landscape
  @media screen and (min-width: 801px) and (max-width: 1500px)
  {
    #welcome
    {
      width: 55%;
      min-width: 250px;
    }
    .authCard
    {
      width: 50%;
    }


  }
//Mobile Portrait

  @media screen and (max-width: 419px) and (min-height: 541px) {
    #welcome
    {
      width: 95%;
      min-width: 250px;
    }
    .authCard
    {
      width: 98%;
    }
    h1.welcome
    {
      font-size: 3.5em;
    }

  }

  //Mobile landscape
  @media screen and (min-width: 419px) and (max-width: 751px) and (max-height: 450px) {
    #welcome
    {
      width: 85%;
      min-width: 250px;
    }
    .authCard
    {
      width: 89%;
    }
    h1.welcome
    {
      font-size: 3.5em;
    }


  }

  //Small screen mobile portrait
  @media screen and (max-width: 465px) and (max-height: 540px) {
    #welcome
    {
      width: 99%;
      min-width: 250px;
    }
    .authCard
    {
      width: 98%;
    }
    .formLabel
    {
      width: 33%;
    }
    h1.welcome
    {
      font-size: 3.5em;
    }

  }


  //Small screen mobile landscape
  @media screen and (min-width: 467px) and (max-width: 751px) and (max-height: 400px)
  {
    #welcome
    {
      width: 85%;
      min-width: 250px;
    }
    .authCard
    {
      width: 95%;
    }
    h1.welcome
    {
      font-size: 4em;
    }

  }


