@mixin baseButton
{

  padding:8px 13px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #000000;
  text-shadow: 3px 3px 10px #003300;
}