@mixin colorNavButton($color1, $color2, $navTextColor)
{
  color: $navTextColor;
  outline:none;
  background-color: $color1;
  border: 1px solid #2C3E50;
}
@mixin colorActButton($color1, $color2, $actTextColor)
{
  color: $actTextColor;
  outline:none;
  background-color: #ECF0F1;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

@mixin colorRedButton($color1, $color2, $redTextColor)
{
  color: $redTextColor;
  outline:none;
  background-color: $color1;
}