@mixin centerContent($centerBackgroundColor, $centerOpacity)
{
  height: auto;
  background-color: $centerBackgroundColor;
  position: relative;
  opacity: $centerOpacity;
  border: 2px solid;
  border-radius: 25px;
  font-family: "Open Sans", Arial, serif;
  z-index: 2;
}