@mixin centerContent($centerBackgroundColor, $centerOpacity)
{
  width: 50%;
  height: auto;
  background-color: $centerBackgroundColor;
  position: relative;
  opacity: $centerOpacity;
  border: 2px solid;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
  z-index: 1;
}