//Desktop
@mixin desktop($desktopBackground)
{
  @media screen and (min-width: 1099px)
  {
    html
    {
      background-image: url($desktopBackground);
      background-color: black;
    }
    .topNav
    {
      width: 65%;
    }

    .interactButton
    {
      font-size: 100%;
    }
    .navButton
    {
      font-size: 100%;
    }
    #centerText
    {
      max-height: 720px;
    }
    #centerTextContent
    {
      max-height: 640px;
    }
    .innerProfileMenus
    {
      height: 210px;
    }
    #leftSide
    {
      height: auto;
    }
    #rightSide
    {
      height: auto;
    }
  }
}
//Tablet
@mixin tablet($tabletBackground)
{
  @media screen and (max-width: 1000px) and (orientation: portrait)
  {
    html
    {
      background-image: url($tabletBackground);
      background-color: blue;
    }
    .topNav
    {
      max-width: 65%;
    }
    #centerContent
    {
      width: 97%;
      height: 85%;
    }
    #centerText
    {
      max-height: 750px;
    }
    #centerTextContent
    {
      max-height: 685px;
    }
    .innerProfileMenus
    {
      height: 175px;
    }
    .interactButton
    {
      font-size: 80%;
    }
    .navButton
    {
      font-size: 80%;
    }
    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 1000px) and (orientation: landscape)
  {
    html {
      background-image: url($tabletBackground);
      background-color: pink;
    }
    .topNav {
      max-width: 70%;
    }
    #centerContent {
      width: 42%;
      height: 85%;
    }
    #centerText {
      max-height: 550px;
    }
    #centerTextContent {
      max-height: 500px;
    }
    #leftSide {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    #rightSide {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    .innerProfileMenus {
      height: 70px;
      font-size: 60%;
    }
    .interactButton {
      font-size: 65%;
    }
    .navButton {
      font-size: 65%;
    }
    .innerPhotos {
      height: 100px;
    }
  }
}
//Mobile
@mixin mobile($mobileBackground)
{
  @media screen and (max-width: 500px) and (orientation: portrait)
  {
    html
    {
      background-image: url($mobileBackground);
      background-color: red;
    }
    .topNav
    {
      max-width: 97%;
    }
    #centerContent
    {
      width: 97%;
      height: 85%;
    }
    #centerText
    {
      max-height: 400px;
    }
    #centerTextContent
    {
      max-height: 250px;
    }
    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    .innerProfileMenus
    {
      height: 70px;
      font-size: 60%;
    }
    .interactButton
    {
      font-size: 65%;
    }
    .navButton
    {
      font-size: 65%;
    }
    .innerPhotos
    {
      height: 100px;
    }
  }
  @media screen and (max-width: 500px) and (orientation: landscape) {
    html {
      background-image: url($mobileBackground);
      background-color: yellow;
    }
    .topNav {
      max-width: 65%;
    }
    #centerContent {
      width: 42%;
      height: 85%;
    }
    #centerText {
      max-height: 350px;
    }
    #centerTextContent {
      max-height: 300px;
    }
    #leftSide {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    #rightSide {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    .innerProfileMenus {
      height: 70px;
      font-size: 60%;
    }
    .interactButton {
      font-size: 65%;
    }
    .navButton {
      font-size: 65%;
    }
    .innerPhotos {
      height: 100px;
    }
  }
}
