//Desktop
@mixin desktop($desktopBackground) {
  @media screen and (min-width: 1501px) and (min-height: 850px) {
    html {
      background-image: url($desktopBackground);
      background-color: black;
    }
    .topNav {
      width: 65%;
    }

    .interactButton {
      font-size: 100%;
    }
    .navButton {
      font-size: 100%;
    }
    #centerText {
      max-height: 660px;
    }
    #centerTextContent {
      max-height: 530px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .createTitleText {
      width: 350px;
    }
    .innerProfileMenus {
      height: 210px;
    }
    #leftSide {
      height: auto;
    }
    #rightSide {
      height: auto;
    }
    #createOptions {
      max-height: 640px;
    }

    .topNav > ul > li > a {
      padding: 0 24px;
    }
    .topNav > ul > li > div {
      width: 165px;
    }
    .topNav > ul > li > div ul > li > a {
      padding: 12px 24px;
    }
    .topNav > ul > li > p {
      padding: 0 24px;
    }
    .profileNav > ul > li > a
    {
      color: #202020;
      display: block;
      line-height: 56px;
      padding: 0 24px;
      text-decoration: none;
    }

  }

  //Small Desktop
  @media screen and (min-width: 801px) and (max-height: 849px) {
    html {
      background-image: url($desktopBackground);
      background-color: black;
    }
    .topNav {
      width: 67%;
    }

    .interactButton {
      font-size: 100%;
    }
    .navButton {
      font-size: 100%;
    }
    #centerText {
      max-height: 430px;
    }
    #centerTextContent {
      max-height: 300px;
      padding-left: 15px;
      padding-right: 15px;
    }
    #createOptions {
      max-height: 425px;
    }
    .createTitleText {
      width: 350px;
    }
    .innerProfileMenus {
      height: 210px;
    }
    #leftSide {
      height: auto;
    }
    #rightSide {
      height: auto;
    }
    .topNav > ul > li > p {
      padding: 0 18px;
    }
    .topNav > ul > li > a {
      padding: 0 24px;
    }
    .topNav > ul > li > div {
      width: 165px;
    }
    .topNav > ul > li > div ul > li > a {
      padding: 12px 24px;
    }
  }
}



//Tablet Portrait
@mixin tablet($tabletBackground)
{
  @media screen and (max-width: 851px)
  {
    html
    {
      background-image: url($tabletBackground);
      background-color: black;
    }
    .topNav
    {
      max-width: 69%;
    }
    #centerContent
    {
      width: 97%;
      height: 85%;
    }
    #centerText
    {
      max-height: 635px;
    }
    #centerTextContent
    {
      max-height: 545px;
    }
    #createOptions
    {
      max-height: 625px;
    }
    .innerProfileMenus
    {
      height: 175px;
    }

    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    .topNav > ul > li > a
    {
      padding: 0 18px;
    }
    .topNav > ul > li > p {
      padding: 0 18px;
    }
  }

  //Tablet Landscape
  @media screen and (min-width: 852px) and (max-width: 1500px)
  {
    html {
      background-image: url($tabletBackground);
      background-color: black;
    }
    .topNav {
      max-width: 77%;
    }
    #centerContent {
      width: 50%;
      height: 81%;
    }
    #centerText {
      max-height: 530px;
    }
    #centerTextContent
    {
      max-height: 385px;
    }
    #createOptions
    {
      max-height: 520px;
    }

    #leftSide
    {
      top: 10.15%;
      height: auto;
      visibility: visible;
      left: .7em;
    }
    #rightSide
    {
      top: 10.15%;
      height: auto;
      visibility: visible;
      right: .7em;
    }
    .innerProfileMenus
    {
      height: 70px;
      font-size: 60%;
    }
    .innerPhotos
    {
      height: 150px;
    }
    .topNav > ul > li > a
    {
      padding: 0 24px;
    }
    .topNav > ul > li > p {
      padding: 0 24px;
    }
  }
}
//Mobile Portrait
@mixin mobile($mobileBackground) {
  @media screen and (max-width: 419px) {
    html {
      background-image: url($mobileBackground);
      background-color: black;
    }
    .topNav {
      max-width: 97%;
    }
    .topNav > ul > li > a {
      padding: 0 1px;
    }
    .topNav > ul > li > p {
      padding: 0 1px;
    }
    .topNav > ul > li > div {
      width: 92px;
    }
    .topNav > ul > li > div ul > li > a {
      padding: 7px 1px;
    }
    #centerContent {
      width: 97%;
      height: 84%;
      margin: 1.5% auto;
    }
    #centerText {
      max-height: 320px;
      //position: fixed;
    }
    .createTitleText {
      width: 250px;
    }
    #centerTextContent {
      max-height: 185px;
      padding-left: 3px;
      padding-right: 3px;
      -webkit-overflow-scrolling: touch;
      //z-index: 0;
    }
    #createBodyText {
      padding-left: 1px;
      padding-right: 1px;
    }
    #createOptions {
      max-height: 320px;
    }
    #leftSide {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    .innerProfileMenus {
      height: 70px;
    }
    .innerPhotos {
      height: 100px;
    }
    .listResourceLeft {
      padding-left: 1%;
      width: 45%;
    }
    .interactButton
    {
      padding: 3px 1px;
    }
    .profileNav > ul > li > div ul > li
    {
      display: block;
    }
  }

  //Small screen mobile landscape
  @media screen and (min-width: 420px) and (max-width: 851px) and (max-height: 499px)
  {
    html {
      background-image: url($mobileBackground);
      background-color: black;
    }
    h2 {
      font-size: 90%;
    }
    .topNav {
      max-width: 55%;
      display: none;
    }
    .topNav > ul > li > a {
      padding: 0 1px;
    }
    .topNav > ul > li > p {
      padding: 0 1px;
    }
    .topNav > ul > li > div {
      width: 92px;
    }
    .topNav > ul > li > div ul > li > a {
      padding: 7px 1px;
    }
    #centerContent {
      width: 57%;
      height: 92%;
      margin: 1.5% auto;
    }
    #centerText {
      max-height: 215px;
    }
    .createTitleText {
      width: 250px;
    }
    #centerTextContent {
      max-height: 105px;
      padding-left: 3px;
      padding-right: 3px;
    }
    #createBodyText {
      padding-left: 1px;
      padding-right: 1px;
    }
    #createOptions {
      max-height: 240px;
    }

    #leftSide {
      top: 3%;
      height: auto;
      visibility: visible;
      left: .1em;
    }
    #rightSide {
      top: 3%;
      height: auto;
      visibility: visible;
      right: .1em;
    }
    .innerProfileMenus {
      height: 70px;
    }
    .innerPhotos {
      height: 100px;
    }
    .listResourceLeft {
      padding-left: 1%;
      width: 45%;
    }
    .interactButton
    {
      padding: 3px 1px;
    }
    .profileNav > ul > li > a
    {
      color: #202020;
      display: block;
      line-height: 45px;
      padding: 1px 10px;

    }
    .profileNav > ul > li:hover > div
    {
      visibility: hidden;
    }

  }
}
