//Desktop
@mixin desktop($desktopBackground)
{
  @media screen and (min-width: 1024px)
  {
    html
    {
      background-image: url($desktopBackground);
      background-color: black;
    }
    .topNav
    {
      width: 65%;
    }

    .interactButton
    {
      font-size: 100%;
    }
    .navButton
    {
      font-size: 100%;
    }
    #centerText
    {
      max-height: 720px;
    }
    #centerTextContent
    {
      max-height: 615px;
    }
    .innerProfileMenus
    {
      height: 210px;
    }
    #leftSide
    {
      height: auto;
    }
    #rightSide
    {
      height: auto;
    }
    #createOptions
    {
      max-height: 720px;
    }
  }
}
//Tablet
@mixin tablet($tabletBackground)
{
  @media screen and (max-width: 1023px)
  {
    html
    {
      background-image: url($tabletBackground);
      background-color: blue;
    }
    .topNav
    {
      max-width: 65%;
    }
    #centerContent
    {
      width: 97%;
      height: 85%;
    }
    #centerText
    {
      max-height: 730px;
    }
    #centerTextContent
    {
      max-height: 645px;
    }
    .innerProfileMenus
    {
      height: 175px;
    }

    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 1023px) and (orientation: landscape)
  {
    html {
      background-image: url($tabletBackground);
      background-color: pink;
    }
    .topNav {
      max-width: 60%;
    }
    #centerContent {
      width: 50%;
      height: 85%;
    }
    #centerText {
      max-height: 550px;
    }
    #centerTextContent
    {
      max-height: 350px;
    }
    #leftSide
    {
      top: 10.15%;
      height: auto;
      visibility: visible;
    }
    #rightSide
    {
      top: 10.15%;
      height: auto;
      visibility: visible;
    }
    .innerProfileMenus
    {
      height: 70px;
      font-size: 60%;
    }
    .innerPhotos
    {
      height: 100px;
    }

  }
}
//Mobile
@mixin mobile($mobileBackground)
{
  @media screen and (max-width: 500px)
  {
    html
    {
      background-image: url($mobileBackground);
      background-color: red;
    }
    .topNav
    {
      max-width: 97%;
    }
    #centerContent
    {
      width: 97%;
      height: 70%;
    }
    #centerText
    {
      max-height: 300px;
    }
    #centerTextContent
    {
      max-height: 200px;
    }
    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: hidden;
    }
    .innerProfileMenus
    {
      height: 70px;
    }
    .interactButton
    {
    }
    .navButton
    {

    }
    .innerPhotos
    {
      height: 100px;
    }
    .listResourceLeft
    {
      padding-left: 1%;
      width: 45%;
    }
  }
  @media screen and (max-width: 500px) and (orientation: landscape) {
    html
    {
      background-image: url($mobileBackground);
      background-color: yellow;
    }
    .topNav
    {
      max-width: 65%;
    }
    #centerContent
    {
      width: 42%;
      height: 85%;
    }
    #centerText
    {
      max-height: 350px;
    }
    #centerTextContent
    {
      max-height: 300px;
    }
    #leftSide
    {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    #rightSide
    {
      top: 24%;
      height: 30%;
      visibility: visible;
    }
    .innerProfileMenus
    {
      height: 70px;
      font-size: 60%;
    }
    .interactButton
    {
      font-size: 65%;
    }
    .navButton
    {
      font-size: 65%;
    }
    .innerPhotos
    {
      height: 100px;
    }
    .listResourceLeft
    {
      padding-left: 1%;
    }
  }
}
