@mixin sideDiv($backgroundColor)
{
  width: 21%;
  height: auto;
  margin: 0 auto;
  top: 10.15%;
  background-color: #BDC3C7;
  position: fixed;
  border-radius: 20px;
  font-family: "Open Sans", Arial, serif;
}