#welcome {
  width: 30%;
  min-width: 305px;
  height: auto;
  margin: 9.3% auto;
  background-color: #E8E8E8;
  opacity: 0.90;
  filter: alpha(opacity=90);
  border: 2px solid;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center; }

#login {
  width: 69%;
  height: auto;
  margin: 0 auto;
  background-color: #202020;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border: 2px solid;
  border-radius: 25px;
  min-width: 297px; }

h3 {
  color: white;
  text-decoration: underline; }

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 7px;
  border-color: green; }

label.login {
  color: white; }

.welcomeInputText {
  width: 14em; }

html {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

nav {
  font-family: "Comic Sans MS", Arial, sans-serif;
  background-color: #101010;
  border: 1px solid #A8A8A8;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  margin: .5% auto;
  overflow: hidden;
  width: 25%; }

nav ul {
  margin: 0;
  padding: 0; }

nav ul li {
  display: inline-block;
  list-style-type: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #101010;
  transition: all 0.2s; }

nav > ul > li > a > .caret {
  border-top: 4px solid #aaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  transition: color 0.1s linear; }

nav > ul > li > a {
  color: #A8A8A8;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none; }

nav > ul > li:hover {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #003300;
  color: #FFFFFF;
  background: linear-gradient(#33FF00, #000000); }

nav > ul > li:hover > a {
  color: white; }

nav > ul > li:hover > a > .caret {
  border-top-color: white; }

nav > ul > li > div {
  background-color: #282c2f;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;
  z-index: 100;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s; }

nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible; }

nav > ul > li > div ul > li {
  display: block; }

nav > ul > li > div ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 24px;
  text-decoration: none; }

nav > ul > li > div ul > li:hover > a {
  background-color: rgba(255, 255, 255, 0.1); }

#container {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%; }

#leftContainer {
  opacity: .9;
  transition: opacity 1s; }

#rightContainer {
  opacity: .9;
  transition: opacity 1s; }

table {
  border-collapse: separate;
  border-spacing: 3px; }

table, td {
  border: 1px solid black;
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 3px; }

.leftTDAlign {
  text-align: left; }

.flash-info {
  color: #009900; }

.flash-success {
  color: #009900; }

.flash-danger {
  color: red; }

.errors {
  background-color: #202020;
  opacity: .9; }

#topLeftMenu {
  width: 99%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #202020;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 2;
  left: 0;
  top: 1%; }

#bottomLeftMenu {
  width: 99%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #202020;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 2;
  left: 0;
  bottom: 1%; }

#topRightMenu {
  width: 99%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #202020;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 2;
  right: 0;
  top: 1%; }

#bottomRightMenu {
  width: 99%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #202020;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 2;
  right: 0; }

#leftSide {
  width: 20%;
  height: auto;
  margin: 0 auto;
  top: 10.15%;
  background-color: #E8E8E8;
  position: fixed;
  border: 1px solid;
  border-radius: 20px;
  font-family: Verdana, Geneva, sans-serif;
  z-index: 1;
  left: 3em; }

#rightSide {
  width: 20%;
  height: auto;
  margin: 0 auto;
  top: 10.15%;
  background-color: #E8E8E8;
  position: fixed;
  border: 1px solid;
  border-radius: 20px;
  font-family: Verdana, Geneva, sans-serif;
  z-index: 1;
  right: 3em; }

.innerProfileMenus {
  margin: 0 auto;
  height: 155px;
  overflow: auto;
  width: 97%; }

.innerHomeMenus {
  margin: 0 auto;
  height: 125px;
  overflow: auto;
  width: 85%; }

.innerNavMenus {
  margin: 0 auto;
  overflow: auto;
  width: auto;
  height: 867px; }

.innerPhotos {
  margin: 0 auto;
  height: 200px;
  overflow: auto;
  width: 95%; }

#centerContent {
  width: 50%;
  height: 80%;
  font-family: Verdana, Geneva, sans-serif;
  z-index: 2;
  margin: 1.5% auto; }

article {
  height: auto;
  max-height: 100%;
  background-color: #E8E8E8;
  opacity: 0.97;
  border: 2px solid;
  border-radius: 12px; }

#centerMenu {
  margin: 0 auto;
  width: 98%; }

#centerText {
  margin: 5px auto;
  width: 99%;
  height: auto;
  max-height: 795px;
  overflow: auto; }

#centerTextContent {
  text-align: left;
  font-size: 125%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  max-height: 557px; }

#createOptions {
  margin: 0 auto;
  padding: 3px;
  height: auto;
  max-height: 100%; }

.createTitleText {
  width: 350px; }

.createSubmit {
  margin: 7px auto;
  width: 180px;
  background-color: #202020;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.97; }

#createBodyText {
  background-color: #FFFFFF;
  color: #000000;
  resize: vertical;
  width: 97%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 125%; }

#centerFooter {
  background-color: #202020;
  margin: 0 auto;
  width: 50%;
  border: 1px solid;
  border-radius: 20px;
  opacity: 0.9; }

/* Button specific */
.navButton {
  padding: 8px 13px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #000000;
  text-shadow: 3px 3px 10px #003300;
  color: #FFFFFF;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33FF00, #188BC0);
  /* Standard syntax */ }
  .navButton:hover {
    color: #FFFFFF;
    background: linear-gradient(#33FF00, #000000); }

.interactButton {
  padding: 8px 13px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #000000;
  text-shadow: 3px 3px 10px #003300;
  color: #A8A8A8;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #101010);
  /* Standard syntax */ }
  .interactButton:hover {
    color: #FFFFFF;
    background: linear-gradient(#000000, #33FF33); }

@media screen and (min-width: 980px) {
  html {
    background-image: url("/img/background.jpg");
    background-color: black; }
  nav {
    width: 25%; }
  .interactButton {
    font-size: 100%; }
  .navButton {
    font-size: 100%; }
  #centerText {
    max-height: 870px; }
  #centerTextContent {
    max-height: 557px; }
  .innerProfileMenus {
    height: 210px; }
  #leftSide {
    height: auto; }
  #rightSide {
    height: auto; } }

@media screen and (max-width: 989px) {
  html {
    background-image: url("/img/backgroundLandscape.jpg");
    background-color: blue; }
  nav {
    width: 60%; }
  #centerText {
    max-height: 870px; }
  #centerTextContent {
    max-height: 440px; }
  .innerProfileMenus {
    height: 175px; }
  .interactButton {
    font-size: 80%; }
  .navButton {
    font-size: 80%; }
  #leftSide {
    height: 41%;
    left: 1em; }
  #rightSide {
    height: 41%;
    right: 1em; } }

@media screen and (max-width: 500px) {
  html {
    background-image: url("/img/backgroundPortrait.jpg");
    background-color: red; }
  nav {
    width: 75%; }
  #centerText {
    max-height: 500px; }
  #centerTextContent {
    max-height: 0px; }
  #leftSide {
    top: 24%;
    height: 30%; }
  #rightSide {
    top: 24%;
    height: 30%; }
  .innerProfileMenus {
    height: 70px;
    font-size: 60%; }
  .interactButton {
    font-size: 65%; }
  .navButton {
    font-size: 65%; }
  .innerPhotos {
    height: 100px; } }

/*# sourceMappingURL=app.css.map */
