@import 'pages/home';
@import 'pages/welcome';

html{
  background-image: url("/img/background3.jpg");
  background-repeat: no-repeat;
  min-width: 1375px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;

}
#container
{
  text-align: center;
  position: relative;
}

/* Div specific classes */
