//Image Variables:
$imgBackground1: "/img/background.jpg";
$imgBackgroundLandscape: "/img/backgroundLandscape.jpg";
$imgBackgroundPortrait: "/img/backgroundPortrait.jpg";
//Background Colors:
$mainBackgroundColor: #ECF0F1;

//Nav Buttons
$navButtonColor1: #2ECC71;
$navButtonColor2: #2ECC71;
$navHoverColor1:  #27AE60;
$navHoverColor2:  #27AE60;
$navTextColor:    #FFFFFF;
$navTextHoverColor: #FFFFFF;

//Action Button Variables:
$actButtonColor2: #E8E8E8;
$actButtonColor1: #E8E8E8;
$actHoverColor1:  #27AE60;
$actHoverColor2:  #27AE60;
$actTextColor:    #000000;
$actTextHoverColor: #FFFFFF;

//Action Button Variables:
$redButtonColor2: #F44336;
$redButtonColor1: #F44336;
$redHoverColor1:  #B71C1C;
$redHoverColor2:  #B71C1C;
$redTextColor:    #FFFFFF;
$redTextHoverColor: #FFFFFF;

//Content
$centerBackgroundColor: #E8E8E8;
$centerOpacity: 0.97;
$centerPosition: 5%;

//Horizontal Line Variables:
$mainHrColor: #27AE60;

//Inner Side Menus
$profileScrollHeight: 155px;
$homeScrollHeight: 125px;
$photoScrollHeight: 200px;
$navScrollHeight: 567px;

//Top Nav
$topNavBackgroundColor: #27AE60;
$topNavColor: #ECF0F1;
$topNavHoverBackground: #ECF0F1;
$topNavHoverColor: #27AE60;
$topNavDivBackground: #ECF0F1;
$topNavDivColor: #2C3E50;
$topNavDivHoverColor: #ECF0F1;
$topNavDivHoverBackground: #27AE60;

//Profiles
$profileBackgroundColor: #ECF0F1;
$profileOpacity: 0.7;
$profileTransition: opacity 1s;


//Profile Nav
$profileBackgroundHoverColor: #27AE60;
$profileHoverColor: #ECF0F1;
$profileDivBackground: #BDC3C7;
$profileDivColor: #2C3E50;
$profileDivHoverBackground:#27AE60;
$profileDivHoverColor: #ECF0F1;


//Menus
$topPosition: 1%;
$topBackgroundColor: #202020;
$bottomPosition: 1%;
$bottomBackgroundColor: #ECF0F1;
$sideMargin: 0;

//Headers
$h1Color: #2C3E50;
$h2Color: #2C3E50;
