//Image Variable:
$imgBackground1: "/img/background1.jpg";
//Action Button Variables:
$actButtonColor1: #000000;
$actButtonColor2: #383838;
$actHoverColor1:  #000000;
$actHoverColor2:  #33FF33;
$actTextColor:    #7dff23;
$actTextHoverColor: #FFFFFF;
//Nav Buttons
$navButtonColor1: #7dff23;
$navButtonColor2: #188BC0;
$navHoverColor1:  #33FF33;
$navHoverColor2:  #000000;
$navTextColor:    #FFFFFF;
$navTextHoverColor: #FFFFFF;
//Horizontal Line Variables:
$mainHrColor: #009900;

//Div Variables:
//Menus
$topPosition: 1%;
$topBackgroundColor: #202020;
$bottomPosition: 1%;
$bottomBackgroundColor: #202020;
$sideMargin: 0;
//Profiles
$profileBackgroundColor: #E8E8E8;
$profileOpacity: 0.7;
$profileTransition: opacity 1s;
//Content
$centerBackgroundColor: #E8E8E8;
$centerOpacity: 0.97;
$centerPosition: 5%;
