//Image Variable:
$imgBackground1: "/img/background1.jpg";
$imgBackground2: "/img/background2.jpg";
$imgBackground3: "/img/background3.jpg";
//Button Variables:
$actButtonColor1: #585858;
$actButtonColor2: #000000;
$navButtonColor1: #7dff23;
$navButtonColor2: #188BC0;
//Horizontal Line Variables:
$mainHrColor: #009900;

//Div Variables:
//Menus
$topPosition: 1%;
$topBackgroundColor: #202020;
$bottomPosition: 1%;
$bottomBackgroundColor: #202020;
$sideMargin: 0;
//Profiles
$profileBackgroundColor: #E8E8E8  ;
$profileOpacity: 0.85;
//Content
$centerBackgroundColor: #E8E8E8 ;
$centerOpacity: 0.97;
$centerPosition: 5%;
