//Image Variables:
$imgBackground1: "/img/background.jpg";
$imgBackgroundLandscape: "/img/backgroundLandscape.jpg";
$imgBackgroundPortrait: "/img/backgroundPortrait.jpg";

//Nav Buttons
$navButtonColor1: #33FF00;
$navButtonColor2: #188BC0;
$navHoverColor1:  #33FF00;
$navHoverColor2:  #000000;
$navTextColor:    #FFFFFF;
$navTextHoverColor: #FFFFFF;

//Action Button Variables:
$actButtonColor2: #101010;
$actButtonColor1: #000000;
$actHoverColor1:  #000000;
$actHoverColor2:  #33FF33;
$actTextColor:    #A8A8A8;
$actTextHoverColor: #FFFFFF;

//Content
$centerBackgroundColor: #E8E8E8;
$centerOpacity: 0.97;
$centerPosition: 5%;

//Horizontal Line Variables:
$mainHrColor: #009900;

//Inner Side Menus
$profileScrollHeight: 155px;
$homeScrollHeight: 125px;
$photoScrollHeight: 200px;
$navScrollHeight: 567px;



//Menus
$topPosition: 1%;
$topBackgroundColor: #202020;
$bottomPosition: 1%;
$bottomBackgroundColor: #202020;
$sideMargin: 0;

//Profiles
$profileBackgroundColor: #E8E8E8;
$profileOpacity: 0.7;
$profileTransition: opacity 1s;







