.postCard
{
  background-color: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #BDC3C7;
  margin: 0 auto 15px auto;
  width: 80%;
}

.cardPhoto
{
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

.cardExcerpt
{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.elevationSection {
  position: relative;
  padding-right: 10px;
  display: inline-block;
}

.elevationSection .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.elevationIcon
{
  display: inline-block;
}
.elevationIcon:hover .tooltiptext {
  visibility: visible;
}

.elevationCounter
{
  display: inline-block;
  padding-bottom: 10px;
}

.beaconSection
{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 3px;
}
.beaconSection .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}
.beaconSection:hover .tooltiptext {
  visibility: visible;
}

.extensionSection {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 3px;
}

.extensionSection .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.extensionSection:hover .tooltiptext {
  visibility: visible;
}