.contentCard
{
  background-color: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #BDC3C7;
  box-shadow: 0 1px 4px #BDC3C7;
  margin: 0 auto 15px auto;
  width: 99.7%;
  height: auto;
}

.contentExtensionCard
{
  background-color: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #27AE60;
  box-shadow: 0 1px 4px #BDC3C7;
  margin: 0 auto 15px auto;
  width: 100%;
}

.cardPhoto
{
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

.cardExcerpt
{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.footerSection
{
  padding-bottom: 5px;
}

.leftSection {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.leftSection .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.leftIcon
{
  display: inline-block;
  color: #27AE60;

}
.leftIcon:hover .tooltiptext {
  visibility: visible;
}

.leftCounter
{
  display: inline-block;
}

.centerSection
{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.centerSection .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}
.centerSection:hover .tooltiptext {
  visibility: visible;
}

.rightSection {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

.rightIcon
{
  display: inline-block;
  color: #27AE60;
}

.rightIcon .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.rightIcon:hover .tooltiptext {
  visibility: visible;
}

.rightCounter
{
  display: inline-block;
}

.cardImg
{
  width: 50%;
  display: inline-block;

}
.cardImg > img
{
  max-width: 450px;
  max-height: 350px;
}
.cardImg > a > img
{
  max-width: 450px;
  max-height: 350px;
}

.userConnections
{
  width: 49%;
  display: inline-block;
}
.userConnections  h4
{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.userConnections h4.underline
{
  text-decoration: underline;
}

//More options menu
.moreSection
{
  position: relative;
  display: inline-block;
  padding: 0 5px 0px 10px;
}
p.moreOptions
{
  color: #696969;
  margin: 0 auto;
}
p.moreOptions:hover
{
  color: #27AE60;
  margin: 0 auto;
}


/* Dropdown Content (Hidden by Default) */
.moreOptionsMenu {
  display: none;
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 20px;
  left: -40px;
  width: 125px;
  /* Position the menu */
  position: absolute;
}

/* Show the dropdown menu on hover */
.moreSection:hover .moreOptionsMenu {
  display: inline-block;
}

hr.contentSeparator
{
  width: 99.5%;
  background-color: #27AE60;
  border: 1px solid #27AE60;
  height: 5px;
  border-radius: 7px;
  margin: 25px auto auto auto;
}

.contentHandle
{
  font-weight: 500;
}