//Containers:
.extensionContent
{
  text-align: left;
  font-size: 100%;
  padding: 10px;
  border: 2px solid #202020;
  border-radius: 12px;
  display: none;
}

#container
{
  text-align: center;
  height: 100%;
  width:100%;
  overflow: auto;
}

#centerContent
{
  width: 50%;
  height: 100%;
  font-family: "Open Sans", Arial, serif;
  margin: 71px auto;
}

#centerText
{
  margin: 0 auto 5px auto;
  width: 80%;
  height: auto;
  border-radius: 7px;
  background-color: #ECF0F1;
}

#centerTextContent
{
  text-align: left;
  font-size: 110%;
  padding-left: 15px;
  padding-right: 15px;
}

#leftContainer
{
  opacity: .9;
  transition: opacity 1s;
}
#rightContainer
{
  opacity: .9;
  transition: opacity 1s;
}

#questionContainer
{
  margin: 0 auto;
  width: 50%;
}