.contentNav
{
  margin: 0 auto;
  display: inline-block;
}
.contentNavLeft
{
  float: left;
  clear: left;
  padding-bottom: 5px;
}
.contentNavTitle
{
  text-align: center;
  padding-bottom: 5px;
  font-weight: 700;
}
.contentMainTitle
{
  text-align: center;
  padding-bottom: 5px;
  margin-top: 15px;
  font-weight: 700;
  //color: #2C3E50;
}
.contentNavTitleLeft
{
  text-align: center;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: 700;
}
.contentNavRight
{
  float: left;
  clear: left;
  padding-bottom: 5px;
  padding-left: 20px;
}

.contentHeaderSeparator
{
  width: 99.7%;
  background-color: #27AE60;
  border-radius: 7px;
  border: 1px solid #27AE60;
  margin: 25px auto auto auto;

}
.contentHeaderSeparator > h3
{
  color: #ECF0F1;
}

.sponsorContentLogo
{

  height: 45px;
  margin: 0 auto;
  width: 210px;
}
.sponsorContentLogo img
{
  max-width:100%;
  max-height:100%;
}

p.textContent
{
  line-height: 1.5;
  padding: 0 3px 5px 3px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.postPhoto
{
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 500px;
  text-align: center;
  margin: 0 auto;
}

.showExtensions
{
  padding:5px 45px;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  background-color: #ECF0F1;
  border: 1px solid #2C3E50;
  font-weight: 400;
  margin: 15px 0 5px 0;
}
.showExtensions:hover
{
    color: #FFFFFF;
    background: #2ECC71;
}
.showExtensions:focus
{
  outline:none;
}

.showAll
{
  margin: 10px 0 10px 0;
}

#hiddenManagerOptions
{
  display: none;
}

#map
{
  text-align: left;
  width: 100%;
}

progress[value]  {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 250px;
  height: 20px;

  /* For IE10 */
  color: #27AE60;
}
progress[value]::-webkit-progress-bar {
  background-color: #ECF0F1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: #27AE60;
  border-radius: 5px;
}

.progress-bar {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #2C3E50;

  position: relative;
  display: block;
}

.progress-bar > span {
  background-color: #27AE60;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}




