.formDataContainer
{
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #b3b3b3;
  opacity:0.90;
  filter:alpha(opacity=90);
  border: 2px solid;
  border-radius: 25px;
  min-width: 132px;
}

.formShowData
{
  display: inline-block;
  width: 37%;
  padding: 1px;
  text-align: left;
}

.formData
{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 1px;
}

.formInput
{
  display: inline-block;
  padding: 7px;
  width: 58%;
}

.formLabel
{
  display: inline-block;
  text-align: right;
  width: 33%;
  padding: 3px;
  font-weight: 500;
}
.formCreation
{
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 2px;
  margin: 0 auto;
}

.formDeletion
{
  display: inline-block;
}
