.formDataContainer
{
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #b3b3b3;
  opacity:0.90;
  filter:alpha(opacity=90);
  border: 2px solid;
  border-radius: 25px;
  min-width: 132px;
}

.formShowData
{
  display: inline-block;
  width: 37%;
  padding: 1px;
  text-align: left;
}

.formData
{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 1px;
}

.formInput
{
  display: inline-block;
  padding: 7px;
  width: 58%;
}

.formLabel
{
  display: inline-block;
  text-align: right;
  width: 33%;
  padding: 3px;
  font-weight: 500;
}
.formCreation
{
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 2px;
  margin: 0 auto;
}

.formDeletion
{
  display: inline-block;
}

.tagLabel
{
  font-weight: bold;
}
.tagSelector
{
  border-color: #BDC3C7;
  border-radius: 5px;
}

.inputField
{
  outline: none !important;
  border:1px solid #27AE60;
  box-shadow: 0 0 10px #27AE60;
}

.searchButton
{
  outline: none !important;
  border-radius:7px;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  background-color: #27AE60;
  border: 1px solid #27AE60;
  color: #ECF0F1;
  &:hover
  {
    color: #27AE60;
    background-color: #ECF0F1;
  }
}

.searchField
{
  outline: none !important;
  color: #2C3E50;
  padding-left: 7px;
  border: 1px solid #27AE60;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;

}