/* unvisited link */
a:link {
  color: #2C3E50;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #2C3E50;

}
/* mouse over link */
a:hover {
  color: #27AE60;
}

/* selected link */
a:active {
  color: #27AE60;

}

.indexLink
{
  padding:8px 13px;
  font-family: "Open Sans", Arial, serif;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border: 1px solid #2C3E50;
  display: inline-block;

  &:hover
  {
    color: #ECF0F1;
    background: #27AE60;

    a
    {
      color: #ECF0F1;
    }

  }

}

.elevationSection a.iconLink
{
  font-family: "Open Sans", Arial, serif;
  color: #27AE60;
  //border: 1px solid #27AE60;
  display: inline-block;

  &:hover
  {
    color: #2ECC71;

  }
}

.extensionSection a.iconLink
{
  font-family: "Open Sans", Arial, serif;
  color: #27AE60;
  //border: 1px solid #27AE60;
  display: inline-block;

  &:hover
  {
    color: #2ECC71;

  }
}

a.excerptText
{
  color: #000000;

  &:hover
  {
      color: #2C3E50;
  }
}
