.indexLink
{
  padding:8px 13px;
  font-family: "Open Sans", Arial, serif;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border: 1px solid #2C3E50;
  display: inline-block;

  &:hover
  {
    color: #ECF0F1;
    background: #27AE60;

    a
    {
      color: #ECF0F1;
    }

  }

}
